@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  

  .new-scrollbar::-webkit-scrollbar{
    width: 15px;
  }

  .new-scrollbar::-webkit-scrollbar-track{
    background: #292929;
  }

  .new-scrollbar::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: calc(100vw - 3.5rem);
    border: 4px solid #292929;
  }

  .new-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #777;
  }
}